@{
    <title>@ViewData["Title"] - Movie App</title>
    ViewData["Title"] = "Hello World Index";
}
@*this is my view template from my project*@
<h2>Index of UtkarshSandalsStore!</h2>

<p>Hello from our View Template!</p>