@{
    ViewData["Title"] = "About Us Page for Utkarsh's Sandals Store";
}

@*this is my about page of my product site, in which I discussed about my store in detail*@
<div style="background-color: #FEE715FF; padding: 30px; border-radius: 20px" class="text-center">
    <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #F2AA4CFF; border: solid black; font-weight: bold; background-color: whitesmoke; padding: 20px; border-radius: 10px">@ViewData["Title"]</h1>
    <br />
    <br />
    <p style="padding: 20px; background-color: #101820FF; border-radius: 10px; color:whitesmoke;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:large">
        At The Utkarsh Sandal's Store, we provide best quality and material Sandals to our prime customers. We didn't compromise in the build quality, design and sole material, our quality speaks! Our main motive is Customer Satisfaction.

        <br />
        <br />
        The UtkarshSandalsStore founded in 1999 and the stores has since grown to more than 75 locations across Canada and 100 across World.
        <br />
        <br />
        The Utkarsh Sandal's Store. Great Quality. Best Prices.
    </p>
</div>