@{
    ViewData["Title"] = "Home Page";
}
@*This is my index page where I modified my index page using Images, Html as well as css to make it better and looks nice*@
<div style="background-color: #FEE715FF; padding: 30px; border-radius: 20px" class="text-center">
    <h3 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #2BAE66FF; font-weight: bold" class="display-4">Welcome to the Utkarsh Sandal's Store!</h3>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <br />
    <br />
    <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #F2AA4CFF; border: solid black; font-weight: bold; background-color: whitesmoke; padding: 20px; border-radius: 10px ">Our Popular Sandals</h2>
    <div style="padding: 10px; background-color: #101820FF; border-radius: 10px ">
        <img style="height: 80vh; width: 95%; margin: 5px; border: 1px solid black; border-radius:10px" src="http://4.bp.blogspot.com/-W4O2Z2WHSA0/TxwIdCa-J7I/AAAAAAAALKY/Hq8vbfL2M0Y/s1600/fuchsia-susy-ruffle-sandal-10735-1017780.jpeg" />

        <img style="height: 80vh; width: 95%; margin: 5px; border: 1px solid black; border-radius: 10px " src="http://theworldsbestever.s3.amazonaws.com/blog/wp-content/uploads/2014/04/teva-sandals.jpg" />

        <img style="height: 80vh; width: 95%; margin: 5px; border: 1px solid black; border-radius: 10px " src="https://media.sketchfab.com/models/33f5a90402b14060afcfbbc7627f9cd4/thumbnails/ba6cd348634c436abcae1f3f61457270/3ddf6bba4bda4f0c98cc84ed2a10b6c3.jpeg" />

        <img style="height: 80vh; width: 95%; margin: 5px; border: 1px solid black; border-radius: 10px " src="https://live.staticflickr.com/1597/25819051150_9201057e2f_b.jpg" />

        <img style="height: 80vh; width: 95%; margin: 5px; border: 1px solid black; border-radius: 10px " src="http://morethanturquoise.com/wp-content/uploads/sandal-blush-1.jpg" />

        <img style="height: 80vh; width: 95%; margin: 5px; border: 1px solid black; border-radius: 10px " src="https://live.staticflickr.com/3373/3530886357_e86cf44869.jpg" />
    </div>

</div>
