@{
    ViewData["Title"] = "Privacy Policy Page for Utkarsh's Sandals Store";
}
@*This is my privacy page of my store, where I discuss in detail about which information our site will store from you*@
<div style="background-color: #FEE715FF; padding: 30px; border-radius: 20px" class="text-center">
    <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #F2AA4CFF; border: solid black; font-weight: bold; background-color: whitesmoke; padding: 20px; border-radius: 10px">@ViewData["Title"]</h1>
    <br />
    <br />
    <p style="padding: 20px; background-color: #101820FF; border-radius: 10px; color:whitesmoke;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:large">
        We collect only one information. <br /><br />
        1. information we receive from you for account purposes<br /><br />
        Information we receive from you includes information you shared with us, such as when you create an account on our websites.
        Our promise is to collect less personal information and incase if we collect data, all data are confidential and with your consent.
        <br />
        <br />
        Thank You!
    </p>
</div>

@*<p>Use this page to detail your site's privacy policy.</p>*@

